<!-- Navbar -->
<div *ngIf="user">

  <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
      <!-- Brand -->
      <h1 class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">Profile utilisateur</h1>
      <!-- Form -->

      <!-- User -->
      <ul class="navbar-nav align-items-center d-none d-md-flex">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img *ngIf="user.gender === 'Homme'" src="../assets/img/user_profile/male_4.png"
                  class="rounded-circle">
                <img *ngIf="user.gender === 'Femme'" src="../assets/img/user_profile/female_4.png"
                  class="rounded-circle">
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm  font-weight-bold">{{ user.fullName }}</span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-- Header -->
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 600px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Hello {{ user.firstName }}</h1>
          <p class="text-white mt-0 mb-5">
            Ici, la page de votre profile. Vous pouvez modifier vos données.
          </p>
          <a routerLink="/profile/edition" class="btn btn-info">Editer</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <img *ngIf="user.gender === 'Homme'" src="../assets/img/user_profile/male_4.png"
                    class="rounded-circle">
                  <img *ngIf="user.gender === 'Femme'" src="../assets/img/user_profile/female_4.png"
                    class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              <a href="" class="btn btn-sm btn-default mr-4 disabled" aria-disabled="true">Messagerie</a>
              <a (click)="handleLogout()" class="btn btn-sm btn-danger text-white float-right">Déconnexion</a>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>

                  </div>
                  <div>

                  </div>
                  <div>

                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
                {{ user.fullName }}
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>{{ user.address1 }} <br>
                {{ user.address2 }} <br>
                {{ user.zipCode }} - {{ user.city }}
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>{{ user.jobTitle }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Mon compte</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">Vos informations</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Nom</label>
                      <input type="text" id="lastName" class="form-control form-control-alternative"
                        placeholder="lastName" value="{{ user.lastName }}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Prénom</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative"
                        placeholder="First name" value="{{ user.firstName }}">
                    </div>
                  </div>

                </div>
              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Adresse</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Adresse</label>
                      <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address"
                        value="{{ user.address1 }}" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="zipCode">Code postal</label>
                      <input type="text" id="zipCode" class="form-control form-control-alternative"
                        placeholder="Code Postal" value="{{ user.zipCode }}">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="city">Ville</label>
                      <input type="text" id="city" class="form-control form-control-alternative"
                        placeholder="City"
                        value="{{ user.city }}">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Description -->
              <h6 class="heading-small text-muted mb-4">Informations professionnelles</h6>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative"
                      placeholder="{{ user.email }}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Téléphone</label>
                    <input type="text" id="phone" class="form-control form-control-alternative"
                      placeholder="Téléphone" value="{{ user.phone }}">
                  </div>
                </div>
              </div>
              <div class="col-5 pl-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="adeli">ADELI</label>
                  <input type="text" id="adeli" class="form-control form-control-alternative"
                    placeholder="N° ADELI"
                    value="{{ user.adeli }}">
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
