<div class="container mb-4">
  <div class="row alert alert-light mt-3">
    <h1>Contact</h1>
  </div>
  <div class="row">
    <div class="col text-center">
      <img src="assets/img/contact.jpg" alt="">
    </div>

  </div>
  <div class="row">
    <div class="col form-group">
      <form [formGroup]="contactForm" (ngSubmit)="handleSubmit()">
        <label>Votre nom</label>
        <input type="text" formControlName="name" class="form-control mb-2"
          [class.is-invalid]="contactForm.getError('required', 'name') && isSubmited">
        <p class="invalid-feedback" *ngIf="contactForm.getError('required', 'name')">Ce champ est requis !</p>
        <label>Votre email</label>
        <input type="email" formControlName="email" class="form-control mb-2"
          [class.is-invalid]="contactForm.getError('required', 'email') && contactForm.getError('email', 'email') && isSubmited">
        <p class="invalid-feedback" *ngIf="contactForm.getError('required', 'email')">Vous devez saisir votre email 😉
        </p>
        <p class="invalid-feedback" *ngIf="contactForm.getError('email', 'email')">Cet email n'est pas au format valide
          !</p>
        <label for="message">Votre message</label>
        <textarea formControlName="message"
          placeholder="Laissez nous vos commentaires ou posez votre question, nous y répondrons dans les meilleurs délais ..."
          cols="30" rows="6" class="form-control"
          [class.is-invalid]="contactForm.getError('required', 'email') && isSubmited"></textarea>
        <p class="invalid-feedback" *ngIf="contactForm.getError('required', 'message')">Posez votre question ou laissez
          nous un petit commentaire 😭</p>
        <div class="col text-center">
          <button type="submit" class="btn btn-info mt-4">Soumettre</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
  </div>
</div>
