<div class="container bkg">
  <div class="row mt-5">
    <div class="col-9">
      <h1>Bienvenue</h1>
      <p>Cette application web est dédiée aux professionnels de la santé investis dans la prise en charge des plaies
        chroniques de leurs patients. Vous trouverez ici des outils simples d'échange médecin/infirmier(e).</p>
      <p>Ainsi, après inscription, nous vous proposons de pouvoir communiquer entre vous et de façon simple, sur la
        prise en charge des plaies de vos patients.</p>
      <p>Il suffit d'enregistrer un patient en base de données, de lui attribuer un médecin traitant et un(e)
        infirmier(e). Pour chaque patient, vous ouvrirez un dossier de soins (ouvert à la date de début de prise charge
        et fermé à la guérison). Chaque dossier représentera l'évolution de la prise en charge et restera consultable à
        posteriori.</p>
      <div class="row container d-flex justify-content-center mt-4">
        <div class="col-4"><img src="assets/img/plaies/CF121.jpg" alt="" class="img-fluid"></div>
        <div class="col-4"><img src="assets/img/plaies/CF111.jpg" alt="" class="img-fluid"></div>
        <div class="col-4"><img src="assets/img/plaies/CF101.jpg" alt="" class="img-fluid"></div>
      </div>
      <div class="row mt-5">
        <p>Un patient ne peut avoir qu'un seul médecin traitant et lui seul aura accès à son dossier. En revanche, le ou
          les infirmiers(es) prenant en charge un même patient auront également accès au dossier de celui-ci.</p>
        <p>Ici, le but étant de globaliser la prise en charge d'un patient avec tous les acteurs gravitant autour de ses
          soins.</p>
      </div>

    </div>
    <div class="col-1"></div>
    <div class="col-2 mt-4">
      Pensons ensemble pour mieux panser.
      <hr>
      Parti d'un principe simple que les médecins n'ont pas toujours le temps de voir toutes les plaies, il serait utile
      d'avoir une application commune pour échanger des photos et des points de vue sur l'évolution de celles-ci. Ainsi,
      les médecins pourraient toujours avoir un regard en temps réel sur l'évolution et éventuellement donner des
      instructions sur le protocole à suivre.
    </div>
  </div>
  <div class="row container d-flex justify-content-center align-items-center mt-4">
    <div class="col-2"><img src="assets/img/brand/coloplast.jpg" alt="" class="img-fluid"></div>
    <div class="col-2"><img src="assets/img/brand/hartmann.jpg" alt="" class="img-fluid"></div>
    <div class="col-2"><img src="assets/img/brand/smithnephew.png" alt="" class="img-fluid"></div>
    <div class="col-2"><img src="assets/img/brand/lohmann.png" alt="" class="img-fluid"></div>
    <div class="col-2"><img src="assets/img/brand/urgo.png" alt="" class="img-fluid"></div>
  </div>
</div>
