<div class="background">
  <div class="container">
    <div class="row">
      <div class="col mt-150">
        <h1>
          <strong class="title rounded">Bienvenue</strong>
        </h1>
      </div>
    </div>
    <div class="row mt-150">
      <div class="col text-center">
        <h1>
          <strong class="title p-max rounded">COLLAPANSE</strong>
        </h1>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col text-center text-dark">
        <p>Trousse médicale de collaboration Médecin/Infirmier(e) dans la prise en charge des plaies chroniques.</p>
      </div>
    </div>
    <div class="row mt-150">
      <div class="col text-center">
        <img src="assets/img/droits_.jpg" alt="Droits et qualité">
      </div>
    </div>
  </div>
</div>
