.background {
  /* margin-top: 50px; */
  background-image: url('../../../assets/img/bkg/bkg-home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}


.title {
  background-color: #ededed;
  padding: 20px;
}

.mt-150 {
  margin-top: 100px;
}

.bkg {
  background-color: #ededed;
}

p-max {
  font-size: 5rem !;
}
