<div class="row justify-content-center" *ngIf="!patient">
  <div class="col-4 alert alert-info mt-200 text-center animated flip">
    <p>... Chargement en cours ....</p>
  </div>
</div>
<div class="container" *ngIf="patient">
  <div class="alert alert-light mt-3">
    <h1 class="alert-title">0</h1>
  </div>
  <div class="row" *ngIf="patient">
    <div class="col-3">
      <h3>{{ patient.fullName }}</h3>
      <hr>
      <a routerLink="/patients/{{ patient.id }}/soins/nouveau" class="btn btn-primary">
        <i class="fas fa-plus"> Ajouter un soin</i>
      </a>
    </div>
    <div class="col-9">
      <h3>Détails</h3>
      <hr>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="border-top-0 border-bottom"></th>
            <th scope="col" class="text-cente border-top-0 border-bottom">Début</th>
            <th scope="col" class="border-top-0 border-bottom">Intervention(s)</th>
            <th scope="col" class="text-center border-top-0 border-bottom">Fin</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let care of cares">
            <th scope="row">
              <a routerLink="/soins/suivi/{{ care.id }}/detail">{{ care.woundType }}</a>
            </th>
            <td>{{ care.createdAt | date:"dd/MM/yyyy" }}</td>
            <td class="text-center">{{ care.interventions.length }}</td>
            <td>{{ care.endedAt | date:"dd/MM/yyyy" }}</td>
            <td>
              <a routerLink="/soins/suivi/{{ care.id }}/detail" class="btn btn-info mr-2">
                <i class="far fa-eye text-light"></i>
              </a>
              <a routerLink="/soins/{{ care.id }}/edit" class="btn btn-warning mr-2">
                <i class="fas fa-edit text-light"></i>
              </a>
              <button class="btn btn-danger" (click)="removeCare(care.id)">
                <i class="fas fa-trash text-light"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="row justify-content-center" *ngIf="!cares">
    <div class=" col-6 text-center alert alert-warning mt-5">
      Désolé, il n'y a pas encore de soin(s) enregistré pour ce patient en base de données ;(
    </div>
  </div>
</div>
