<div class="row justify-content-center" *ngIf="!patients">
  <div class="col-4 alert alert-info mt-150">
    <p>... Chargement en cours ....</p>
  </div>
</div>
<div *ngIf="patients">

  <div class="row m-4">

    <h1>Liste de vos patients</h1>
  </div>
  <div class="row m-5 justify-content-center" *ngIf="patients">
    <table class="table table-stripped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Patient</th>
          <th scope="col">Date de Naissance</th>
          <th scope="col">Adresse</th>
          <th scope="col">Médecin</th>
          <th scope="col">Infirmier(e)s</th>
          <th scope="col">Nombre de Soin</th>
          <th>Modification/Suppression</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of patients | paginate: currentPage:itemsPerPage">
          <td>
            <a routerLink="/patients/{{ p.id }}">{{ p.fullName }}</a>
          </td>
          <td class="text-center">{{ p.birthDate | date:"dd/MM/yyyy" }}</td>
          <td>{{ p.address1 }}
            {{ p.address2 }}
            {{ p.zipCode }}
            {{ p.city }}
          </td>
          <td>Dr
            {{ p.doctor.lastName }}
            {{ p.doctor.firstName }}
          </td>
          <td>
            <p *ngFor="let n of p.nurses">
              {{ n.lastName}}
              {{ n.firstName}}</p>
          </td>
          <td class="text-center">{{ p.cares.length }}</td>
          <td class="text-center">
            <button class="btn btn-info mr-2">
              <a routerLink="/patients/{{ p.id }}">
                <i class="far fa-eye text-light"></i>
              </a>
            </button>
            <button class="btn btn-warning mr-2">
              <a href="">
                <i class="far fa-edit text-light"></i>
              </a>
            </button>
            <button class="btn btn-danger">
              <a href="#">
                <i class="fas fa-trash text-light"></i>
              </a>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="col-6 text-center alert alert-warning mt-5" *ngIf="!patients">
      <div class="row justify-content-center">
        Désolé, vous n'avez encore aucun
        patient enregistré en base de données ;(</div>
    </div>
  </div>
</div>

<!--div class="row mt-2 mb-2">
  <div class="col-2">
    <select [(ngModel)]="itemsPerPage" class="form-control">
      <option [ngValue]="5">5</option>
      <option [ngValue]="10">10</option>
      <option [ngValue]="15">15</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="25">25</option>
      <option [ngValue]="30">30</option>
    </select>
  </div>
  <div class="col-4">
    <p>Nombre d'éléments / page</p>
  </div>
</div-->
<app-bootstrap-pagination [items]="patients" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage"
  (pageChanged)="handlePageChanged($event)">Coco</app-bootstrap-pagination>
