<div class="bg-default">
  <!-- Header -->
  <div class="header bg-gradient-primary py-4 py-lg-4">
    <div class="container" *ngIf="patient || create">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <div>
              <h1 class="text-white" *ngIf="!patient">Création d'un nouveau patient</h1>
              <h1 class="text-white" *ngIf="patient">Modification de la fiche patient</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--6 pb-8">
    <div class="row d-flex justify-content-center">
      <div class="col-6 alert alert-danger text-center" *ngIf="error">
        Une erreur est survenue, merci de réessayer plus tard :(
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="create">
      <div class="col-lg-10 col-md-12">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body">
            <form [formGroup]="patientForm" (ngSubmit)="handleSubmit()">
              <h6 class="heading-small text-muted mb-4">Votre patient</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group ml-2 mt-4">
                      <label class="form-control-label" for="input-username">Sexe</label>
                      <input
                        type="radio"
                        formControlName="gender"
                        value="Femme" class="ml-5 mr-2"
                        [class.is-invalid]="patientForm.getError('required', 'gender') && isSubmited">
                      Femme
                      <input
                        type="radio"
                        formControlName="gender"
                        value="Homme" class="ml-3 mr-2"
                        [class.is-invalid]="patientForm.getError('required', 'gender') && isSubmited">
                      Homme
                      <p class="invalid-feedback" *ngIf="patientForm.getError('required', 'gender')">Ce champ est requis
                        !
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="birthDate">Date de naissance</label>
                      <input type="date" class="form-control" formControlName="birthDate"
                        [class.is-invalid]="patientForm.getError('validation', 'birthDate') || patientForm.getError('required', 'birthDate') && isSubmited">
                      <p class="invalid-feedback" *ngIf="patientForm.getError('required', 'birthDate')">Ce champ est
                        requis !</p>
                      <p class="invalid-feedback" *ngIf="patientForm.getError('validation', 'birthDate') as error">
                        {{ error }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="lastName"
                        placeholder="Son nom"
                        [class.is-invalid]="(patientForm.getError('validation', 'lastName') || patientForm.getError('required', 'lastName') || patientForm.getError('minLength', 'lastName')) && isSubmited">
                      <p class="invalid-feedback" *ngIf="patientForm.getError('required', 'lastName')">Ce champ est
                        requis !
                      </p>
                      <p class="invalid-feedback" *ngIf="patientForm.getError('validation', 'lastName') as error">
                        {{ error }}
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="firstName"
                        placeholder="Son prénom"
                        [class.is-invalid]="(patientForm.getError('validation', 'firstName') || patientForm.getError('required', 'firstName') || patientForm.getError('minLength', 'firstName')) && isSubmited">
                      <p class="invalid-feedback" *ngIf="patientForm.getError('required', 'firstName')">Ce champ est
                        requis !
                      </p>
                      <p class="invalid-feedback" *ngIf="patientForm.getError('validation', 'firstName') as error">
                        {{ error }}
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="phone"
                        placeholder="Son numéro de téléphone"
                        [class.is-invalid]="(patientForm.getError('validation', 'phone') || patientForm.getError('required', 'phone') || patientForm.getError('minLength', 'lastName')) && isSubmited">
                      <p class="invalid-feedback" *ngIf="patientForm.getError('required', 'phone')">
                        Ce champ est requis !
                      </p>
                      <p class="invalid-feedback" *ngIf="patientForm.getError('required', 'phone')">
                        Le numéro de téléphone comprend 10 chiffres :(
                      </p>
                      <p class="invalid-feedback" *ngIf="patientForm.getError('validation', 'phone') as error">
                        {{ error }}
                      </p>
                    </div>

                  </div>
                  <div class=" col-lg-6">
                    <div class="form-group">
                      <input
                        type="email"
                        class="form-control"
                        formControlName="email"
                        placeholder="Son email, si le patient en a une"
                        [class.is-invalid]="patientForm.getError('validation', 'email') || patientForm.getError('required', 'email') && isSubmited">
                      <p class="invalid-feedback" *ngIf="patientForm.getError('required', 'email')">Ce champ est requis
                        !</p>
                      <p class="invalid-feedback" *ngIf="patientForm.getError('email', 'email')">Cet email n'est pas au
                        format valide !</p>
                      <p class="invalid-feedback" *ngIf="patientForm.getError('validation', 'email') as error">
                        {{ error }}
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Son adresse</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        formControlName="address1"
                        class="form-control form-control-alternative"
                        placeholder="Rue, Lieudit, ..."
                        value="" type="text"
                        [class.is-invalid]="(patientForm.getError('validation', 'address1') || patientForm.getError('required', 'address1')) && isSubmited">
                      <p class="invalid-feedback" *ngIf="patientForm.getError('required', 'address1')">Ce champ est
                        requis !
                      </p>
                      <p class="invalid-feedback" *ngIf="patientForm.getError('validation', 'address1') as error">
                        {{ error }}
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        formControlName="zipCode"
                        class="form-control form-control-alternative"
                        placeholder="Code postal"
                        [class.is-invalid]="(patientForm.getError('validation', 'zipCode') || patientForm.getError('required', 'zipCode') || patientForm.getError('minLength', 'zipCode')) && isSubmited">
                      <p class="invalid-feedback" *ngIf="patientForm.getError('required', 'zipCode')">Ce champ est
                        requis !
                      </p>
                      <p class="invalid-feedback" *ngIf="patientForm.getError('minLength', 'zipCode')">
                        Le code postal doit comporter 5 chiffres !
                      </p>
                      <p class="invalid-feedback" *ngIf="patientForm.getError('validation', 'zipCode') as error">
                        {{ error }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        formControlName="address2"
                        class="form-control form-control-alternative"
                        placeholder="Complément d'adresse"
                        value="" type="text"
                        [class.is-invalid]="patientForm.getError('validation', 'adresse2') && isSubmited">
                      <p class="invalid-feedback" *ngIf="patientForm.getError('required', 'address2')">Ce champ est
                        requis !
                      </p>
                      <p class="invalid-feedback" *ngIf="patientForm.getError('validation', 'address2') as error">
                        {{ error }}
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        formControlName="city"
                        class="form-control form-control-alternative"
                        placeholder="Ville"
                        [class.is-invalid]="(patientForm.getError('validation', 'city') || patientForm.getError('required', 'city')) && isSubmited">
                      <p class="invalid-feedback" *ngIf="patientForm.getError('required', 'city')">Ce champ est requis !
                      </p>
                      <p class="invalid-feedback" *ngIf="patientForm.getError('validation', 'city') as error">
                        {{ error }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Description -->
              <h6 class="heading-small text-muted mb-4">Acteurs de soins</h6>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <nz-form-item class="mt-3">
                      <nz-form-control nzHasFeedBack>
                        <nz-select
                          formControlName="doctor"
                          style="height: 30px"
                          nzAllowClear
                          nzShowSearch
                          nzRequired
                          nzSize="large"
                          nzPlaceHolder="-- Choisissez un docteur --"
                          [class.is-invalid]="patientForm.getError('validation', 'doctor') || patientForm.getError('required', 'doctor') && isSubmited">
                          <nz-option [nzValue]="user.id" *ngFor="let user of doctors"
                            [nzLabel]="user.lastName + ' ' + user.firstName">
                          </nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                    <p class="invalid-feedback" *ngIf="patientForm.getError('required', 'doctor')">Ce champ est requis !
                    </p>
                    <p class="invalid-feedback" *ngIf="patientForm.getError('validation', 'doctor') as error">
                      {{ error }}
                    </p>

                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <nz-form-item class="mt-3">
                      <nz-form-control nzHasFeedBack>
                        <nz-select
                          formControlName="nurses"
                          style="height: 30px"
                          nzAllowClear
                          nzShowSearch
                          nzRequired
                          nzPlaceHolder="-- Infirmier(e)s --"
                          nzMode="multiple"
                          nzSize="large"
                          [class.is-invalid]="patientForm.getError('validation', 'nurses') || patientForm.getError('required', 'nurses') && isSubmited">
                          <nz-option [nzValue]="user.id" *ngFor="let user of nurses"
                            [nzLabel]="user.lastName + ' ' + user.firstName">
                          </nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                    <p class="invalid-feedback" *ngIf="patientForm.getError('validation', 'nurses') as error">
                      {{ error }}
                    </p>
                  </div>
                </div>
                <!--div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div-->
                <div class="col my-4 text-right">
                  <button type="submit" class="btn btn-success" *ngIf="!patient">Enregistrer</button>
                  <button type="submit" class="btn btn-success" *ngIf="patient">Modifier</button>
                  <button (click)="cancel(patient.id)" class="btn btn-danger ml-3" *ngIf="patient">Annuler</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
