<div class="row justify-content-center" *ngIf="!patient">
  <div class="col-4 alert alert-info mt-200 text-center">
    <p>... Chargement en cours ....</p>
  </div>
</div>
<div class="container" *ngIf="patient">

  <div class="alert alert-light mt-3">
    <h1 class="alert-title">{{ patient.lastName | uppercase }} {{patient.firstName }} ({{ patient.birthDate | age }}
      ans)
    </h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="d-flex justify-content-between">
        <h2>Informations</h2>
        <span class="float-right">
          <a routerLink="/patients" class="btn btn-info">
            <i class="fas fa-backward"></i>
          </a>
          <a [routerLink]="['edit']" class="btn btn-warning  ml-2 mr-2">
            <i class="far fa-edit text-light"></i>
          </a>
          <button class="btn btn-danger" (click)="removePatient(patient.id)">
            <i class="fas fa-trash text-light"></i>
          </button>
        </span>
      </div>
      <hr>

      <div class="col-4 float-left">
        <img class="rounded-circle" src="http://avatars.io/twitter/{{ patient.firstName }}/medium" alt="avatar">

      </div>
      <div class="col-4">
        <strong>{{ patient.lastName | uppercase }} {{ patient.firstName }} </strong> ({{ patient.gender }}) <br>
        <p *ngIf="patient.gender === 'Homme'">Né le {{ patient.birthDate | date: 'dd/MM/yyyy' }}</p>
        <p *ngIf="patient.gender === 'Femme'">Née le {{ patient.birthDate | date: 'dd/MM/yyyy' }}</p>
      </div>
      <p>{{ patient.address1 }}</p><br>
      <p *ngIf="patient.address2">{{ patient.address2 }}</p><br>
      <p>{{ patient.zipCode }} {{ patient.city }}</p>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-between">
        <h2 class="">Soin(s) et suivi</h2>
        <span class="float-right">
          <a routerLink="/patients/{{ patient.id }}/soins/nouveau" class="btn btn-success">
            <i class="fas fa-plus">
              Ajouter un soin</i>
          </a>
        </span>
      </div>

      <hr>
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let c of patient?.cares">
            <td class="border-top-0 border-bottom">{{ c.woundType }}</td>
            <td class="border-top-0 border-bottom">{{ c.createdAt | date:"dd/MM/yyyy" }}</td>
            <td class="border-top-0 border-bottom">
              <a routerLink="/soins/suivi/{{ c.id }}/detail" class="btn btn-info"><i class="fas fa-eye"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
