<div class="row justify-content-center" *ngIf="!cares">
  <div class="col-2 alert alert-info mt-200 text-center">
    <p>... Chargement en cours ....</p>
  </div>
</div>
<div class="m-4">
  <div class="row" *ngIf="cares">
    <h1>Liste de tous les interventions</h1>
  </div>
  <div class="row m-4">
    <table class="table table-stripped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" width="5%">#</th>
          <th scope="col-3" width="8%">Date</th>
          <th scope="col" width="20%">Soin</th>
          <th scope="col" width="50%">Commentaire</th>
          <th scope="col" width="20%" class="text-center">Image(s)</th>
        </tr>
      </thead>
      <tbody *ngFor="let care of cares">
        <tr *ngFor="let inter of care.interventions">
          <td>{{ care.id }}</td>
          <td>{{ inter.date | date:"dd/MM/yyyy" }}</td>
          <td>
            <a href="">
              {{ care.woundType }}
            </a>
          </td>
          <td>{{ inter.comment }}</td>
          <td class="text-center" *ngFor="let image of inter.images">
            {{ image.length }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
