<div class="bg-default" *ngIf="user">
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-5">
      <div class="container">
        <div class="header-body text-center mb-2">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 mb-5">
              <h1 class="text-white">Modifiez vos informations</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--6 pb-8">
      <div class="row d-flex justify-content-center">
        <div class="col-6 alert alert-danger text-center" *ngIf="error && errormsg === ''">
          Une erreur est survenue, merci de réessayer plus tard :(
        </div>
        <div class="col-6 alert alert-danger text-center" *ngIf="error && errormsg">
          {{ errormsg }}
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
          <div class="card bg-secondary shadow">
            <div class="card-body px-lg-5 py-lg-4">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Modifiez vos informations</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form [formGroup]="form" (ngSubmit)="handleSubmit()">
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group ml-2 mt-3">
                        <label class="form-control-label" for="input-username">Sexe</label>
                        <input
                          type="radio"
                          formControlName="gender"
                          value="Femme" class="ml-5 mr-2"
                          [class.is-invalid]="form.getError('required', 'gender') && isSubmited">
                        Femme
                        <input
                          type="radio"
                          formControlName="gender"
                          value="Homme" class="ml-3 mr-2"
                          [class.is-invalid]="form.getError('required', 'gender') && isSubmited">
                        Homme
                        <p class="invalid-feedback" *ngIf="form.getError('required', 'gender')">Ce champ est requis !
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control"
                          formControlName="email"
                          placeholder="email@email.fr"
                          [class.is-invalid]="form.getError('validation', 'email') || form.getError('required', 'email') && isSubmited">
                        <p class="invalid-feedback" *ngIf="form.getError('required', 'email')">Ce champ est requis !</p>
                        <p class="invalid-feedback" *ngIf="form.getError('email', 'email')">Cet email n'est pas au
                          format valide !</p>
                        <p class="invalid-feedback" *ngIf="form.getError('validation', 'email') as error">
                          {{ error }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="lastName"
                          placeholder="Nom"
                          [class.is-invalid]="(form.getError('validation', 'lastName') || form.getError('required', 'lastName') || form.getError('minLength', 'lastName')) && isSubmited">
                        <p class="invalid-feedback" *ngIf="form.getError('required', 'lastName')">Ce champ est requis !
                        </p>
                        <p class="invalid-feedback" *ngIf="form.getError('validation', 'lastName') as error">
                          {{ error }}
                        </p>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="firstName"
                          placeholder="Votre prénom"
                          [class.is-invalid]="(form.getError('validation', 'firstName') || form.getError('required', 'firstName') || form.getError('minLength', 'firstName')) && isSubmited">
                        <p class="invalid-feedback" *ngIf="form.getError('required', 'firstName')">Ce champ est requis !
                        </p>
                        <p class="invalid-feedback" *ngIf="form.getError('validation', 'firstName') as error">
                          {{ error }}
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Votre Adresse</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input
                          formControlName="address1"
                          class="form-control form-control-alternative"
                          placeholder="Rue, Lieudit, ..."
                          value="" type="text"
                          [class.is-invalid]="(form.getError('validation', 'address1') || form.getError('required', 'address1')) && isSubmited">
                        <p class="invalid-feedback" *ngIf="form.getError('required', 'address1')">Ce champ est requis !
                        </p>
                        <p class="invalid-feedback" *ngIf="form.getError('validation', 'address1') as error">
                          {{ error }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input
                          type="text"
                          formControlName="zipCode"
                          class="form-control form-control-alternative"
                          placeholder="Votre code postal"
                          [class.is-invalid]="(form.getError('validation', 'zipCode') || form.getError('required', 'zipCode') || form.getError('minLength', 'zipCode')) && isSubmited">
                        <p class="invalid-feedback" *ngIf="form.getError('required', 'zipCode')">Ce champ est requis !
                        </p>
                        <p class="invalid-feedback" *ngIf="form.getError('minLength', 'zipCode')">
                          Le code postal doit comporter 5 chiffres !
                        </p>
                        <p class="invalid-feedback" *ngIf="form.getError('validation', 'zipCode') as error">
                          {{ error }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input
                          formControlName="address2"
                          class="form-control form-control-alternative"
                          placeholder="Complément d'adresse"
                          value="" type="text"
                          [class.is-invalid]="form.getError('validation', 'adresse2') && isSubmited">
                        <p class="invalid-feedback" *ngIf="form.getError('required', 'address2')">Ce champ est requis !
                        </p>
                        <p class="invalid-feedback" *ngIf="form.getError('validation', 'address2') as error">
                          {{ error }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input
                          type="text"
                          formControlName="city"
                          class="form-control form-control-alternative"
                          placeholder="Ville"
                          [class.is-invalid]="(form.getError('validation', 'city') || form.getError('required', 'city')) && isSubmited">
                        <p class="invalid-feedback" *ngIf="form.getError('required', 'city')">Ce champ est requis !
                        </p>
                        <p class="invalid-feedback" *ngIf="form.getError('validation', 'city') as error">
                          {{ error }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">A propos de vous</h6>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <input class="form-control disabled" type="text" aria-disabled="true" value="{{ user.jobTitle }}">
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="adeli"
                        placeholder="Votre numéro ADELI"
                        [class.is-invalid]="(form.getError('validation', 'adeli') || form.getError('minLength', 'lastName') || form.getError('required', 'adeli')) && isSubmited">
                      <p class="invalid-feedback" *ngIf="form.getError('required', 'adeli')">Ce champ est requis !</p>
                      <p class="invalid-feedback" *ngIf="form.getError('minLength', 'adeli')">
                        Votre N° ADELI doit comporter 9 chiffres !
                      </p>
                      <p class="invalid-feedback" *ngIf="form.getError('validation', 'adeli') as error">
                        {{ error }}
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="phone"
                        placeholder="Votre numéro de téléphone"
                        [class.is-invalid]="(form.getError('validation', 'phone') || form.getError('required', 'phone') || form.getError('minLength', 'lastName')) && isSubmited">
                      <p class="invalid-feedback" *ngIf="form.getError('required', 'phone')">Ce champ est requis !
                      </p>
                      <p class="invalid-feedback" *ngIf="form.getError('required', 'phone')">
                        Le numéro de téléphone comprend 10 chiffres :(
                      </p>
                      <p class="invalid-feedback" *ngIf="form.getError('validation', 'phone') as error">
                        {{ error }}
                      </p>
                    </div>
                  </div>
                </div>
                <!--div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div-->
                <div class="row my-4" *ngIf="!user">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span class="text-muted">J'accepte la <a href="#!">politique de confidentialité</a></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button *ngIf="!user" type="submit" class="btn btn-primary mt-4">Inscription</button>
                  <button *ngIf="user" type="submit" aria-disabled="true"
                    class="btn btn-warning mt-4 disabled">Modifier</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
