<div class="container" *ngIf="(care || create == true) && patients ">
  <div class="row mt-4">
    <div class="col alert alert-light" *ngIf="!care; else modification">
      <h1 class="alert-title">Mise en place d'un nouveau soin :</h1>
      <br>
      <h3 class="text-center" *ngIf="patient">{{ patient.fullName }}</h3>
    </div>
    <ng-template #modification>
      <div class="col alert alert-light">
        <h1 class="alert-title">Modification du soin {{ care.woundType }} pour :</h1>
        <br>
        <h3 class="text-center">{{ patient.fullName }}</h3>
      </div>
    </ng-template>
  </div>
  <div class="col col-md-6">
    <form [formGroup]="careForm" (ngSubmit)="handleSubmit()" class="form-group" *ngIf="patients">
      <label for="createdAt" class="required">Ouverture du soin le</label>
      <input type="date" id="createdAt" formControlName="createdAt" class="form-control"
        [class.is-invalid]="(careForm.getError('validation', 'createdAt') || careForm.getError('required', 'createdAt')) && isSubmited" />
      <label for="endedAt">Fermeture du soin le</label>
      <input type="date" formControlName="endedAt" class="form-control"
        [class.is-invalid]="careForm.getError('validation', 'endedAt') && isSubmited" />
      <label for="woundType">Description de la plaie</label>
      <input type="text" id="woundType" formControlName="woundType" class="form-control"
        [class.is-invalid]="(careForm.getError('validation', 'woundType') || careForm.getError('required', 'woundType')) && isSubmited" />
      <p class="invalid-feedback"
        *ngIf="careForm.getError('validation', 'woundType') || careForm.getError('required', 'woundType')">Ce champ est
        requis !</p>
      <label for="">Patient</label>
      <select formControlName="patient" class="form-control" *ngIf="patient">
        <option value="{{ patient.id }}">{{ patient.fullName }}</option>
      </select>
      <select formControlName="patient" class="form-control" *ngIf="!patient"
        [class.is-invalid]="(careForm.getError('validation', 'patient') || careForm.getError('required', 'patient')) && isSubmited">
        <option value="">-- Choisissez le Patient --</option>
        <option *ngFor="let patient of patients" value="{{ patient.id }}">{{ patient.fullName }}</option>
      </select>
      <p class="invalid-feedback"
        *ngIf="careForm.getError('validation', 'patient') || careForm.getError('required', 'patient')">Vous devez
        attribuer ce soin à un patient :(</p>
      <button type="submit" class="btn btn-success mt-4" *ngIf="!care; else save">Ajouter</button>
      <ng-template #save>
        <button type="submit" class="btn btn-success mt-4 mb-4">Modifier</button>
        <button (click)="cancel(care.id)" class="btn btn-warning ml-3 mt-4 mb-4">Annuler</button>

      </ng-template>

    </form>

  </div>

</div>
