<div class="background">

  <div class="col text-center mt-1">
    <h1>Inscrivez-vous pour accèder à toutes nos fonctionnalités</h1>
  </div>
  <div class="container rounded mt-1" id="register">
    <div class="form-group">
      <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="rounded">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="gender">Sexe</label>
              <br>
              <input type="radio" formControlName="gender" value="Femme" class="ml-5 mr-2">Femme
              <input type="radio" formControlName="gender" value="Homme" class="ml-3 mr-2">Homme
            </div>
            <div class="form-group">
              <select class="form-control" formControlName="job">
                <option value="0" selected>-- Choisissez votre Profession --</option>
                <option [ngValue]="job.id" *ngFor="let job of jobs">{{ job.title }}</option>
              </select>
            </div>
            <div class="form-group mt-4">
              <input type="text" class="form-control" formControlName="lastName" placeholder="Nom">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="firstName" placeholder="Prénom">
            </div>
          </div>
          <div class="col mt-3">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="adeli" placeholder="Votre numéro ADELI">
            </div>
            <div class="form-group">
              <input type="text" class="form-control mb-2" formControlName="phone"
                placeholder="Votre numéro de téléphone">
            </div>
            <div class="form-group mt-2">
              <input type="text" class="form-control" formControlName="address1" placeholder="Adresse">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="address2" placeholder="Complément d'adresse">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input type="email" class="form-control" formControlName="email" placeholder="Votre email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="confirmPassword"
                placeholder="Merci de confirmer votre mot de passe">
            </div>

          </div>
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="zipCode" placeholder="Code Postal">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="city" placeholder="Ville">
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-right">
            <button class="btn btn-success" type="submit">Valider</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container bkg rounded mb-5">
    <div class="row">
      <div class="col text-center rounded bkg">
        <p>« Les informations recueillies vous concernant font l’objet d’un traitement destiné à l'utilisation exclusive
          des fonctionnalités du site,c-à-d, l'échange d'informations utiles aux soins des patients dans le cadre du
          secret professionnel. Les destinataires de ces données sont Les médecins et les infirmiers utilisateurs des
          services. La durée de conservation des données sera illimitée sauf demande contraire. Vous bénéficiez d’un
          droit
          d’accès, de rectification, de portabilité, d’effacement de celles-ci ou une limitation du traitement. Vous
          pouvez vous opposer au traitement des données vous concernant et disposez du droit de retirer votre
          consentement
          à tout moment en vous adressant à contact@collapanse.fr . Vous avez la possibilité d’introduire une
          réclamation
          auprès d’une autorité de contrôle. »</p>
      </div>
    </div>
  </div>
</div>
