<div class="row justify-content-center" *ngIf="!care">
  <div class="col-2 alert alert-info mt-200 text-center">
    <p>... Chargement en cours ....</p>
  </div>
</div>
<div class="container" *ngIf="care">
  <div class="alert alert-light mt-3">
    <h1 class="alert-title">Suivi : {{ care.woundType }}
    </h1>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="d-flex justify-content-between">
        <h2>Patient</h2>

      </div>
      <hr>
      <p><strong>{{ care.patient.fullName }}</strong></p>
      <br>
      <p>Début : {{ care.createdAt | date: 'dd/MM/yyyy' }}</p>
      <p *ngIf="care.endedAt">Fin : {{ care.endedAt | date: 'dd/MM/yyyy' }}</p>
      <a routerLink="/soins/{{ care.id }}/interventions/nouveau" class="btn btn-info">
        Ajouter une intervention
      </a>

      <br>
      <a routerLink="/patients" class="btn btn-primary mt-2">Liste des patients</a>
      <br>
      <a routerLink="/patients/{{ care.patient.id }}/suivi" class="btn btn-success mt-2">Liste des soins</a>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-between">
        <h2>Liste des interventions: ({{ care.interventions.length }})</h2>
      </div>
      <hr>
      <div class="card border-light mb-3" style="width: 100%;"
        *ngFor="let inter of care.interventions | paginate: currentPage:itemsPerPage">
        <div class="d-flex card-header justify-content-between">
          <strong>{{ inter.date  | date:"dd/MM/yyyy" }}</strong>
          <p>Nombre d'image(s) :
            {{ inter.images.length }}</p>
        </div>
        <div class="card-body">
          <h4 class="card-title">Commentaire</h4>
          <p class="card-text">{{ inter.comment }}</p>
          <br>
          <div class="d-flex justify-content-between">
            <div class="col-3">
              <a routerLink="/interventions/{{ inter.id }}/detail" class="btn btn-info">
                <i class="far fa-eye text-light"></i>
                Voir
              </a>
            </div>
            <div class="col-4">
              <a routerLink="/interventions/{{ inter.id }}/edition" class="btn btn-warning">
                <i class="fas fa-edit text-light"></i>
                Editer
              </a>
            </div>
            <div class="col-4">
              <button class="btn btn-danger" (click)="remove(inter.id)">
                <i class="fas fa-trash  text-light"></i>
                Supprimer
              </button>
            </div>
          </div>
        </div>
      </div>
      <app-bootstrap-pagination [items]="care.interventions" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage"
        (pageChanged)="handlePageChanged($event)"></app-bootstrap-pagination>
    </div>
  </div>
</div>
