<!-- Header -->
<div class="header pb-2 pt-2 pt-lg-2 d-flex align-items-center"
  style="min-height: 200px;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-xl-3 mb-5 mb-xl-0">

      </div>

    </div>
  </div>
</div>
<div class="row justify-content-center" *ngIf="!care">
  <div class="col-4 alert alert-default mt-200 text-center animated flip">
    <p>... Chargement en cours ....</p>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7" *ngIf="care">
  <div class="row">
    <div class="col-xl-4 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3">
            <div class="card-profile-image">
              <a href="#">
                <img src="{{ care.patient.avatar }}" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading" *ngIf="care.interventions">{{ care.interventions.length }}</span>
                  <span class="description">Intervention(s)</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{ care.patient.fullName }}<span class="font-weight-light">, {{ care.patient.birthDate | age }}
                ans</span>
            </h3>
            <div>
              Débuté le : {{ care.createdAt | date: 'dd/MM/yyyy' }}
            </div>
            <div *ngIf="care.endedAt">
              Cloturé le : {{ care.endedAt | date: 'dd/MM/yyyy' }}
            </div>
            <hr class="my-4" />
            <div class="text-center">
              <div class="row mt-2">
                <div class="col">
                  <a routerLink="/soins/{{ care.id }}/interventions/nouveau" class="btn btn-info">
                    Ajouter une intervention
                  </a>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col">
                  <a routerLink="/patients/{{ care.patient.id }}/suivi" class="btn btn-success">Soins du patient</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xl-8">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Liste des Interventions : ({{ care.interventions.length }})</h3>
            </div>
            <hr>

            <div class="row mb-4">
              <div class="col">
                <div class="card mb-3" style="width: 100%;"
                  *ngFor="let inter of care.interventions | paginate: currentPage:itemsPerPage">
                  <div class="d-flex card-header justify-content-between">
                    <strong>{{ inter.date  | date:"dd/MM/yyyy" }}</strong>
                    <p>Nombre d'image(s) :
                      {{ inter.images.length }}</p>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Commentaire</h4>
                    <p class="card-text">{{ inter.comment }}</p>
                    <br>
                    <div class="d-flex justify-content-between">
                      <div class="col-3">
                        <a routerLink="/interventions/{{ inter.id }}/detail" class="btn btn-info">
                          <i class="far fa-eye text-white"></i>
                          Voir
                        </a>
                      </div>
                      <div class="col-4">
                        <a routerLink="/interventions/{{ inter.id }}/edition" class="btn btn-warning">
                          <i class="fas fa-edit text-white"></i>
                          Editer
                        </a>
                      </div>
                      <div class="col-4">
                        <button class="btn btn-danger" (click)="remove(inter.id)">
                          <i class="fas fa-trash text-white"></i>
                          Supprimer
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <app-bootstrap-pagination [items]="care.interventions" [currentPage]="currentPage"
                  [itemsPerPage]="itemsPerPage"
                  (pageChanged)="handlePageChanged($event)"></app-bootstrap-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col alert-warning" *ngIf="care.interventions.length === 0">
        <p class="text-center p-4">Le soin de ce patient ne comporte pas encore d'intervention</p>
      </div>
    </div>


  </div>
</div>
