<div>
  <!-- Header -->
  <div class="header pb-2 pt-2 pt-lg-2 d-flex align-items-center"
    style="min-height: 200px;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-xl-3 mb-5 mb-xl-0">

        </div>

      </div>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="!intervention">
    <div class="col-4 alert alert-default mt-200 text-center animated flip">
      <p>... Chargement en cours ....</p>
    </div>
  </div>
  <div *ngIf="intervention">
    <div class="container">
      <!-- Page content -->
      <div class=" mt--7">
        <div class="row">
          <div class="col-xl-4 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
                      <img src="{{ intervention.care.patient.avatar }}" class="rounded-circle">
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">

              </div>
              <div class="card-body pt-0 pt-md-4">
                <div class="row">
                  <div class="col">
                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                      <div>
                        <span class="heading">Patient</span>
                        <span class="description">
                          {{ intervention.care.patient.fullName }},
                          {{ intervention.care.patient.birthDate | age }} ans
                        </span>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <h3>
                    Plaie
                  </h3>
                  <div class="h5 font-weight-300">
                    <span class="font-weight-light">{{ intervention.care.woundType }}</span>
                  </div>
                  <div class="h5 mt-4">

                  </div>
                  <div>

                  </div>
                  <hr class="my-4" />
                  <a routerLink="/soins/{{ intervention.care.id }}/interventions/nouveau" class="btn btn-default">
                    <i class="fas fa-plus">
                      Nouvelle intervention
                    </i>
                  </a>
                  <a routerLink="/soins/suivi/{{ intervention.care.id }}/detail" class="btn btn-primary mt-2">
                    <i class="far fa-eye text-white"></i> Retour soin
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8">
            <div class="card shadow">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col">
                    <h3 class="mb-2">
                      Détail de l'intervention du : {{ intervention.date | date:"dd/MM/yyyy" }}</h3>
                  </div>
                  <a routerLink="/interventions/{{ intervention.id }}/images/ajout" class="btn btn-warning">
                    <i class="fa fa-plus"></i>
                    Ajouter une image
                  </a>
                </div>
              </div>
              <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" width="80%">Commentaire</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                </table>
                <div class="p-4">
                  <p>{{ intervention.comment }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header -->
  <div class="header pb-2 pt-2 pt-lg-2 d-flex align-items-center mt-4"
    style="min-height: 100px;" *ngIf="intervention?.images.length > 0">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="col-xl-3 mb-5 mb-xl-0">

        <h2 class="text-white mb-2">{{ intervention.images.length }} Image(s) </h2>
      </div>

    </div>
  </div>
  <div *ngIf="intervention?.images" class="mt-2 pb-5">
    <div class="container">
      <!-- Page content -->
      <div class=" mt--7">
        <div class="row mb-4">
          <div class="col-xl-4 mb-5 mt-4 mb-xl-0" *ngFor="let image of intervention.images">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">{{ image.date | date:"dd/MM/yyyy"}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{ image.caption }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="ni ni-album-2"></i>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col mt-3">

                    <img src="{{ image.url }}" alt="{{ image.caption }}" class="img-fluid">
                  </div>
                </div>
                <div class="row text-right">
                  <div class="col mt-3 mb-5">
                    <a class="btn btn-warning"
                      routerLink="/images/{{ image.id }}/edition">
                      <i class="fa fa-edit"></i>
                      Modifier</a>
                    <button class="btn btn-danger" (click)="removeImage(image.id)">
                      <i class="fa fa-trash"></i>
                      Supprimer</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
