<div class="container mb-5" *ngIf="intervention">
  <div class="row justify-content-center" *ngIf="!intervention">
    <div class="col-2 alert alert-info mt-200 text-center">
      <p>... Chargement en cours ....</p>
    </div>
  </div>
  <div class="col mt-5 mb-5 alert alert-light">
    <div class="alert alert-light">
      <h1 class="alert-title">{{ intervention.care.patient.fullName }}</h1>
      <br>
      <h3>Détails de l'intervention du :
        {{ intervention.date | date:"dd/MM/yyyy"}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Plaie</h3>
      <hr>
      <a routerLink="/interventions/{{ intervention.id }}/edition" class="btn btn-warning">
        Modifier
      </a>
      <br>
      <button class="btn btn-danger mt-2 text-light" (click)="remove(intervention.id)">
        Supprimer
      </button>
      <br>
      <a routerLink="/interventions/{{ intervention.id }}/images/ajout" class="btn btn-primary mt-2" *ngIf="!plus">
        Ajouter une image
      </a>

    </div>
    <div class="col-8">
      <h3>Commentaire</h3>
      <hr>
      <p>{{ intervention.comment }}</p>
    </div>
  </div>
  <div class="row mt-3 justify-content-arround" *ngIf="intervention.images">
    <div class="col alert alert-light">
      <h2 class="thead-dark alert-light">Image(s) :</h2>
    </div>
  </div>
  <div class="mb-5">
    <div class="col mb-3" *ngFor="let image of intervention.images">
      <div class="card" style="width: 18rem;">
        <div class="card-title p-3">
          <h5 class="card-title">
            <strong>Légende :</strong>
            {{ image.caption }}</h5>
        </div>
        <img src="{{ image.url }}" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <p>
            <button class="btn btn-danger align-items-right" (click)="removeImage(image.id)">
              <i class="fas fa-trash"></i>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
